<?php

?>
<div class="container-fluid ">
    <div class="row margin-top-20 margin-bottom-20">
        <h4 class="text-center">Cadastre um curso</h4>
        <div class="col-md-6 col-md-offset-3">
            <form method="post" action="iniciaAlteracaoCurso">
                <div class="form-group">
                    <label>Nome</label>
                    <input class="form-control" type="text" name="nome" placeholder="Digite o nome do curso">
                </div>
                <button type="submit" class="btn btn-success">Cadastrar</button>
            </form>
        </div>
    </div>
</div>
