<div class="container-fluid margin-bottom-20">
    <div class="row margin-top-20 margin-bottom-20">
        <h4 class="text-center">Cadastre uma Disciplina</h4>
        <div class="col-md-6 col-md-offset-3">
            <form method="post" action="iniciarCadastroDisciplina">
                <div class="form-group">
                    <label>Nome</label>
                    <input class="form-control" type="text" name="nome" placeholder="Digite o nome da disciplina">
                </div>
                <div class="form-group">
                    <label>Curso</label>
                    <select class="form-control" name="id_curso">
                        <?php
                            foreach($this->view->cursos as $curso){
                                echo "<option value='".$curso["id"]."'>".$curso["nome"]."</option>";
                            }
                        ?>
                    </select>
                </div>
                <button type="submit" class="btn btn-success">Cadastrar</button>
            </form>
        </div>
    </div>
</div>
