<div class="container-fluid">
    <div class="row margin-top-20">
        <h4 class="text-center">Cursos Cadastrados</h4>
        <div class="col-md-6 col-md-offset-3">
            <table class="table table-responsive table-striped">
                <thead>
                <tr>
                    <th>Curso</th>
                    <th>Excluir</th>
                    <th>Alterar</th>
                </tr>
                </thead>
                <tbody>
                <?php
                foreach ($this->view->cursos as $curso) {
                    echo "<tr>";
                    echo "<td>" . $curso["nome"] . "</td>";
                    echo "<td><a class='btn btn-primary' href='alteraCurso?id=" . $curso["id"] . "'>Alterar</a></td>";
                    echo "<td><a class='btn btn-danger' href='excluiCurso?id=" . $curso["id"]. "'>Excluir</a></td>";
                    echo "</tr>";
                }
                ?>
                </tbody>
            </table>
        </div>
    </div>
</div>
