<div class="container-fluid">
    <div class="row margin-top-20">
        <h4 class="text-center">Disicplinas Cadastradas</h4>
        <div class="col-md-6 col-md-offset-3">
            <table class="table table-responsive table-striped">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Nome Curso</th>
                    <th>Excluir</th>
                    <th>Alterar</th>
                </tr>
                </thead>
                <tbody>
                <?php
                foreach ($this->view->disciplinas as $disciplina) {
                    echo "<tr>";
                    echo "<td>" . $disciplina["nome"] . "</td>";
                    echo "<td>" . $disciplina["curso"] . "</td>";
                    echo "<td><a class='btn btn-primary' href='alteraDisciplina?id=" . $disciplina["id"] . "'>Alterar</a></td>";
                    echo "<td><a class='btn btn-danger' href='excluiDisciplina?id=" . $disciplina["id"]. "'>Excluir</a></td>";
                    echo "</tr>";
                }
                ?>
                </tbody>
            </table>
        </div>
    </div>
</div>
