<div class="container-fluid">
    <div class="row margin-top-20">
        <h4 class="text-center">Seja bem vindo ao sistema de cadastro! <br>
            <small>O que deseja visualizar?</small>
        </h4>
        <div class="col-md-6 col-md-offset-3">
            <div class="center-block margin-top-20 margin-bottom-20" style="max-width: 180px">
                <a href="curso" class="btn btn-default">Cursos</a>
                <a href="disciplina" class="btn btn-default">Disciplinas</a>
            </div>
        </div>
    </div>
</div>
