<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style/css/style.css">
    <script src="style/js/jquery-2.2.4.min.js"></script>
    <script src="style/js/bootstrap.min.js"></script>
    <title><?= $this->pagina ?></title>
</head>
<body style="padding-top: 50px">

<nav  class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Trabalho Web</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="inicio">Home</a></li>
                <li><a href="cadastro-de-curso">Cadastro de curso</a></li>
                <li><a href="cadastro-de-disciplina">Cadastro de disciplina</a></li>
                <li><a href="vinculo">Vincular Disciplina/Curso</a></li>
                <li><a href="relatorio">Relatório</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">

    <div class="box margin-top-40">
        <?= $this->content()?>
    </div>

</div><!-- /.container -->
</body>
</html>
