<div class="container-fluid">
    <div class="row margin-top-20">
        <h4 class="text-center"></h4>
        <div class="col-md-12">
            <table class="table table-responsive table-striped">
                <tbody>
                <?php
                foreach ($this->view->dadosCurso as $relatorio) {
                    echo "<tr><td><strong>Curso: </strong>" . $relatorio['curso'] . "</td></tr>";
                    foreach ($this->view->dadosSemestre as $semestre) {
                        echo "<tr><td>Semestre: " . $semestre['semestre'] . "</td></tr>";
                        foreach ($this->view->dadosDisciplina as $disciplina) {
                            echo "<tr><td>" . $disciplina['disciplina'] . "</td></tr>";
                        }
                    }
                }
                ?>
                </tbody>
            </table>
        </div>
    </div>
</div>
