<div class="container-fluid">
    <div class="row margin-top-20">
        <h4 class="text-center">Cursos Cadastrados</h4>
        <div class="col-md-6 col-md-offset-3 margin-bottom-30">
            <form method="post" action="vincula-semestre">
                <div class="form-group">
                    <label>Selecione o Curso</label>
                    <select name="id_curso" class="form-control">
                        <?php
                        foreach ($this->view->cursos as $curso) {
                            echo "<option value='" . $curso['id'] . "'>" . $curso['nome'] . "</option>";
                        }
                        ?>
                    </select>
                </div>
                <div class="form-group">
                    <label>Selecione a disciplina</label>
                    <select name="id_disciplina" class="form-control">
                        <?php
                        foreach ($this->view->disciplinas as $disciplina) {
                            echo "<option value='" . $disciplina['id'] . "'>" . $disciplina['nome'] . "</option>";
                        }
                        ?>
                    </select>
                </div>
                <div class="form-group">
                    <label>Informe o semestre</label>
                    <input class="form-control" name="semestre" type="text" required>
                </div>
                <button class="btn btn-success" type="submit">Vincular</button>
            </form>
        </div>
    </div>
</div>
