.box{
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.55);
}

/*margins*/
.margin-top-10{margin-top: 10px}
.margin-top-20{margin-top: 20px}
.margin-top-30{margin-top: 30px}
.margin-top-40{margin-top: 40px}

.margin-bottom-10{margin-bottom: 10px}
.margin-bottom-20{margin-bottom: 20px}
.margin-bottom-30{margin-bottom: 30px}
.margin-bottom-40{margin-bottom: 40px}

.margin-left-10{margin-left: 10px}
.margin-left-20{margin-left: 20px}
.margin-left-30{margin-left: 30px}
.margin-left-40{margin-left: 40px}

.margin-right-10{margin-right: 10px}
.margin-right-20{margin-right: 20px}
.margin-right-30{margin-right: 30px}
.margin-right-40{margin-right: 40px}